# Assignment 3

1. Read data.txt file
2. Save data in dictionary where the key  is the student name and value as list of marks
3. Donâ€™t use built-in functions e.g. sum(), max(), min(), avg(), sort().
4. Use math function pow() , sqrt()  
5. Use functions to organize your code
6. Use exceptions handling
7. Create output dictionary file that contain the following info :  
    7.1. maximum average with student name
    7.2. Maximum mark with student name
    7.3. Minimum average with student name
    7.4. Minimum mark with student name
    7.5. Standard deviation
    7.6. Q1,Q2,Q3 , IQR
    7.7. Most frequent mark
8. Export the output dictionary as JSON file

In [ ]:
def read_txt(name_file):
  dict_marks = dict()
  with open(name_file,'r') as f:
    for line in f:
      dict_marks[line.split(',')[0]] = line.split(',')[1:]
  return dict_marks

In [ ]:
dict_marks = read_txt("data.txt")
print(dict_marks)

{'Ahmad': ['78', '99', '88', '89', '60\n'], 'Tareq': ['90', ' 80', '95', '77', '76\n'], 'Mahmoud': ['90', '96', '99', '98', '100\n'], 'Khaled': ['50', '65', '77', '55', '87\n'], 'Saba': ['88', '90', '94', '77', '87']}

In [ ]:
def delete_slash_n(dictionary):
  for key,value in dictionary.items():
    dictionary[key][-1] = dictionary[key][-1].strip()
  return dictionary

In [ ]:
dict_marks = delete_slash_n(dict_marks)

In [ ]:
print(dict_marks)

{'Ahmad': ['78', '99', '88', '89', '60'], 'Tareq': ['90', ' 80', '95', '77', '76'], 'Mahmoud': ['90', '96', '99', '98', '100'], 'Khaled': ['50', '65', '77', '55', '87'], 'Saba': ['88', '90', '94', '77', '87']}

In [ ]:
for key,value in dict_marks.items():
  for i in range(len(dict_marks[key])):
    dict_marks[key][i] = int(dict_marks[key][i])
print(dict_marks)

{'Ahmad': [78, 99, 88, 89, 60], 'Tareq': [90, 80, 95, 77, 76], 'Mahmoud': [90, 96, 99, 98, 100], 'Khaled': [50, 65, 77, 55, 87], 'Saba': [88, 90, 94, 77, 87]}

In [ ]:
dict_output = {

    "MaxValue": {
        "student_name": "",
        "value": ""
    },
    "MaxAvg": {
        "student_name": "",
        "value": ""
    },

    "MinValue": {
        "student_name": "",
        "value": ""
    },
    "MinAvg": {
        "student_name": "",
        "value": ""
    },

    "standard_deviation": "",
    "Q1": "",
    "Q2": "",
    "Q3": "",
    "IQR": "",
    "most_freq_value": ""

}

In [ ]:
lst = []
max_value = 0
for key,value in dict_marks.items():
  for i in value:
    if i >= max_value:
      max_value = i
      lst.append(key)
lst.append(max_value)
lst = lst[-2:]

In [ ]:
dict_output['MaxValue']['student_name'] = lst[0]
dict_output['MaxValue']['value'] = lst[-1]

In [ ]:
lst = []
max_average = 0
for key,value in dict_marks.items():
  average = 0
  sum = 0
  count = 0
  for i in value:
    sum += i
    count += 1
  average = sum / count
  if average>=max_average:
    max_average = average
    lst.append(key)
lst.append(max_average)
lst = lst[-2:]

In [ ]:
dict_output['MaxAvg']['student_name'] = lst[0]
dict_output['MaxAvg']['value'] = lst[-1]

In [ ]:
dict_output

{'MaxValue': {'student_name': 'Mahmoud', 'value': 100},
 'MaxAvg': {'student_name': 'Mahmoud', 'value': 96.6},
 'MinValue': {'student_name': '', 'value': ''},
 'MinAvg': {'student_name': '', 'value': ''},
 'standard_deviation': '',
 'Q1': '',
 'Q2': '',
 'Q3': '',
 'IQR': '',
 'most_freq_value': ''}

In [ ]:
lst = []
min_value = dict_output['MaxValue']['value']
for key,value in dict_marks.items():
  for i in value:
    if i <= min_value:
      min_value = i
      lst.append(key)
lst.append(min_value)
lst = lst[-2:]

In [ ]:
dict_output['MinValue']['student_name'] = lst[0]
dict_output['MinValue']['value'] = lst[-1]

In [ ]:
print(dict_output)

{'MaxValue': {'student_name': 'Mahmoud', 'value': 100}, 'MaxAvg': {'student_name': 'Mahmoud', 'value': 96.6}, 'MinValue': {'student_name': 'Khaled', 'value': 50}, 'MinAvg': {'student_name': '', 'value': ''}, 'standard_deviation': '', 'Q1': '', 'Q2': '', 'Q3': '', 'IQR': '', 'most_freq_value': ''}

In [ ]:
lst = []
min_average = dict_output["MaxAvg"]['value']
for key,value in dict_marks.items():
  average = 0
  sum = 0
  count = 0
  for i in value:
    sum += i
    count += 1
  average = sum / count
  if average<=min_average:
    min_average = average
    lst.append(key)
lst.append(min_average)
lst = lst[-2:]

In [ ]:
dict_output['MinAvg']['student_name'] = lst[0]
dict_output['MinAvg']['value'] = lst[-1]

In [ ]:
print(dict_output)

{'MaxValue': {'student_name': 'Mahmoud', 'value': 100}, 'MaxAvg': {'student_name': 'Mahmoud', 'value': 96.6}, 'MinValue': {'student_name': 'Khaled', 'value': 50}, 'MinAvg': {'student_name': 'Khaled', 'value': 66.8}, 'standard_deviation': '', 'Q1': '', 'Q2': '', 'Q3': '', 'IQR': '', 'most_freq_value': ''}

In [ ]:
import math
def standard_deviation(values):
  sum_of_difference = 0
  average = 0
  count = 0
  sum = 0
  for i in values:
    sum += i
    count += 1
  average = sum / count
  for i in values:
    sum_of_difference+= abs(math.pow(i - average,2))
  return math.sqrt(sum_of_difference/len(values))

In [ ]:
lst_of_all_values = []
for key,value in dict_marks.items():
  for i in value:
    lst_of_all_values.append(i)
dict_output['standard_deviation'] = standard_deviation(lst_of_all_values)

{'MaxValue': {'student_name': 'Mahmoud', 'value': 100}, 'MaxAvg': {'student_name': 'Mahmoud', 'value': 96.6}, 'MinValue': {'student_name': 'Khaled', 'value': 50}, 'MinAvg': {'student_name': 'Khaled', 'value': 66.8}, 'standard_deviation': 13.620572675185135, 'Q1': '', 'Q2': '', 'Q3': '', 'IQR': '', 'most_freq_value': ''}

In [ ]:
def Q1(values):
  values.sort()
  index = math.ceil((len(values) + 1) / 4)
  Q1_value = values[index - 1]
  return Q1_value

In [ ]:
def Q2(values):
  values.sort()
  index = math.ceil((len(values) + 1) / 2)
  Q2_value = values[index - 1]
  return Q2_value

In [ ]:
def Q3(values):
  values.sort()
  index = math.ceil((len(values) + 1) * (3/4))
  Q3_value = values[index - 1]
  return Q3_value

In [ ]:
dict_output['Q1'] = Q1(lst_of_all_values)
dict_output['Q2'] = Q2(lst_of_all_values)
dict_output['Q3'] = Q3(lst_of_all_values)
dict_output["IQR"] = Q3(lst_of_all_values) - Q1(lst_of_all_values)

In [ ]:
dict_most_frequent = dict()
for i in lst_of_all_values:
  if i in dict_most_frequent.keys():
    dict_most_frequent[i]+=1
  else:
    dict_most_frequent[i] = 1

In [ ]:
lst_of_max = []
max_value_of_keys = 0
for key,value in dict_most_frequent.items():
  if value > max_value_of_keys:
    max_value_of_keys = value

In [ ]:
final_values = [k for k, v in dict_most_frequent.items() if v == max_value_of_keys]

In [ ]:
dict_output["most_freq_value"] = final_values

In [ ]:
dict_output

{'MaxValue': {'student_name': 'Mahmoud', 'value': 100},
 'MaxAvg': {'student_name': 'Mahmoud', 'value': 96.6},
 'MinValue': {'student_name': 'Khaled', 'value': 50},
 'MinAvg': {'student_name': 'Khaled', 'value': 66.8},
 'standard_deviation': 13.620572675185135,
 'Q1': 77,
 'Q2': 88,
 'Q3': 95,
 'IQR': 18,
 'most_freq_value': [77, 90]}